@use '../base/variables' as *;

header {
    position: sticky;
    top: 0;
    background: linear-gradient(to top, transparent -300%, $black 100%);
    color: $yellow;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 8888;
    width: 100%;
    margin-top: 0;
    max-width: 1024px;
    box-shadow: 0px 2px 15px rgb($yellow, 0.2);
    
    h1 {
        padding: 1rem;
        font-size: 1.5rem;
    }

    .header-logo {
        text-decoration: none;
        list-style: none;
        color: $yellow

    }
}