

// Type
$Poppins: 'Poppins', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$grapeNuts: 'Grape Nuts', cursive;
$roboto: 'Roboto', sans-serif;

// Colors
$black: black;
$yellow: rgb(255, 255, 122);
$offWhite: rgb(255, 253, 206);
$red: red



